


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



  /* font fmly
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;

  
  */

*{

    margin: 0;
    padding: 0;
}

header{

    font-family: 'Poppins', sans-serif;
    width: 85%;
    max-width: 1220px;
    margin:0 auto;
}

img{
    max-width: 100%;
}
nav{

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    color: #3A3A3A;
    align-items: center;
  
}
nav > ul{

    display: flex;
    align-items: center;

  
}
nav > ul li{
    list-style: none;
    margin-left: 30px;

}
nav > ul li a{

    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
 
   
    

}

.banner{

display: flex;
align-items: center;
justify-content: space-between;
margin-top: 50px; 

}
.banner-left-text {}
.banner-right {

background-image: url("../images/circle.svg");
background-size: cover;
padding: 30px;
width:33%;
height: 33%;

}

.section-heading{


    color: #3A3A3A;
font-size: 44px;
font-weight: 700;
line-height: 70px; 
}
.section-description{

    color: #3A3A3A;

font-size: 16px;
font-weight: 600;

}

.banner-btn {
    color: white;
    background-color: #E02C6D;
    border: none;
    padding: 11px 41px;
    border-radius: 45px;
    margin-top: 20px;
}


/* main */

/* sponsar section style */


main{


  margin-top: 100px;
   
   
}
.sponser{
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 300px;

 
   
}


.sponser img{

   
}


.popoler-collection{
    
width: 85%;
max-width: 1220px;
margin: auto;
    

}


.popoler-collection h1{
    
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: 600;
    

}

.popoler-collection-main{

margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.popoler-collection-main h2{

    font-family: 'Poppins', sans-serif;
}

.popoler-collection-main h3{

    font-family: 'Inter', sans-serif;
}

.popoler-collection-main p{

    color:  #787885;
    font-family: 'Inter', sans-serif;
font-size: 14px;

font-weight: 700;
line-height: 143%; 
letter-spacing: 0.252px;
}


.popoler-collection-main .card{



    line-height: 2.5em;


    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
padding: 10px 10px;
}

.card img{

   max-width: 100%;
}


/* responsive */


/* header responsive */

/* nav */

@media screen and (max-width:590px) {


 
 

    nav{

        flex-direction: column;
        width: 94%;
 
    }
    nav >ul{

        margin-top: 20px;
    }

    nav >ul li a{
        margin: 0;
    }

    .banner{

        flex-direction: column-reverse;
    }
    .banner-right {

        width: 86%;
    }

    .banner-left-text {
        text-align: center;
        margin-top: 30px;
    }

    .section-heading{

        font-size: 1.8rem;
        line-height: 1em;
    }

    .sponser{


        flex-direction: column;
    }

    .popoler-collection-main{

grid-template-columns: 1fr;

    }
}

@media screen and (max-width:900px) and (min-width:590px) {

    nav{

        flex-direction: column;
        width: 94%;
 
    }
    nav >ul{

        margin-top: 20px;
    }

    nav >ul li a{
    
    }

    .banner{

        flex-direction: column-reverse;
    }
    .banner-right {

        width: 86%;
        margin-top: 30px;
    }

    .banner-left-text {
        text-align: center;
        margin-top: 30px;
    }
}

